@model Purchaseproweb.Models.Systemreportdataandparameters
@{
    var count = 1;
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-9">
                        <h5 class="text-align-center font-weight-light text-sm">Customer Loan Payment Details</h5>
                    </div>
                    <div class="col-sm-3">
                        @if (Model.Loanrepaymentreportdata != null)
                        {
                            <a asp-action="GeneratePdf" asp-controller="ReportManagement" asp-route-startdate="@Model.startdate.ToString("yyyy-MM-dd")" asp-route-enddate="@Model.enddate.ToString("yyyy-MM-dd")" asp-route-customerid="@Model.customerid" asp-route-loanstatus="@Model.loanstatus" asp-area="" class="btn btn-info btn-sm text-white float-right">Generate Pdf</a>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="font-weight-light text-sm">Driver: @Model.Customername</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="font-weight-light text-sm">Asset Number: @Model.Assetdetailname</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="font-weight-light text-sm">Loan Status: @Model.Loanstatusname</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="font-weight-light text-sm">Start Date: @Model.startdate.ToString("yyyyy-MM-dd")</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <h6 class="font-weight-light text-sm">End Date: @Model.enddate.ToString("yyyyy-MM-dd")</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
            <div class="card-body table-responsive table-responsive-sm">
                <table class="table table-bordered table-striped compact table-sm table-responsive-sm nowrap text-nowrap" id="AllsystemDataTables">
                    <thead>
                        <tr>
                            <th class="font-weight-light text-sm">S/No.</th>
                            <th class="font-weight-light text-sm">Car Reg No.</th>
                            <th class="font-weight-light text-sm">Car Make & Model</th>
                            <th class="font-weight-light text-sm">Driver's Name</th>
                            <th class="font-weight-light text-sm">Phonenumber</th>
                            <th class="font-weight-light text-sm">Amount Paid (KES)</th>
                            <th class="font-weight-light text-sm">Week No.</th>
                            <th class="font-weight-light text-sm">Status</th>
                            <th class="font-weight-light text-sm">Remarks</th>
                            <th class="font-weight-light text-sm">Current Week's Balance</th>
                            <th class="font-weight-light text-sm">Cumulative Amount Outstanding</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Loanrepaymentreportdata != null)
                        {
                            foreach (var item in Model.Loanrepaymentreportdata)
                            {
                                <tr>
                                    <td class="font-weight-light text-sm">@count</td>
                                    <td class="font-weight-light text-sm">@item.AssetNumber</td>
                                    <td class="font-weight-light text-sm">@item.AssetName</td>
                                    <td class="font-weight-light text-sm">@item.CustomerName</td>
                                    <td class="font-weight-light text-sm">@item.PhoneNumber</td>
                                    <td class="font-weight-light text-sm">@item.PaidAmount.ToString("#,##0.00")</td>
                                    <td class="font-weight-light text-sm">@item.Period</td>
                                    <td class="font-weight-light text-sm">@item.PaymentStatus</td>
                                    <td class="font-weight-light text-sm">@item.PaymentReason</td>
                                    <td class="font-weight-light text-sm">@item.WeeklyOutstandingBalance.ToString("#,##0.00")</td>
                                    <td class="font-weight-light text-sm">@item.CumulativeOutstandingBalance.ToString("#,##0.00")</td>
                                </tr>
                                count++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>